
@media screen and (max-device-width: 1024px)  {
    .container, .main_linner{
        max-width: 960px;
        padding: 0;
    }

    .header__inner{
        margin:0 32px;
    }
    
    .menu__list{
        gap: 16px;
    }

    .logo__img{
        padding: 0;
        margin-right: 32px;
    }

    .btn{
        padding: 14px 20px;
        gap: 10px;
    }

    .categories__articles{
        flex-wrap: wrap;
        line-height: 20px
    }

    .main__hero-img_blog1{
        width: 468px;
    }

    .main__hero_one{
        height: 587px;
    }

    .text_date{

        margin-top: 42px;

    }

    .main__hero_one_link{
        max-height: 260px;
    }

    .img__block2-3{
        max-width: 304px;
    }

    .nav_footer{
        gap: 30px;
    }
    .tag{
        top: 337px;
    }

    .tag-2{
        top: 845px;
    }

    .tag-3{
        top: 1470px;
    }
}




/* iPad mini - 2 */
@media screen and (max-device-width: 768px)  {
    .container, .main_linner{
        max-width: 728px;
        /* padding: 0 20px; */
    }

    .header__inner{
        margin:0 20px;
    }

    .menu__list-item, .btn{
        display: none;
    }

    .menu__img{
        display: block;
    }

    .main__hero_one-two__elements{
        display: grid;
        grid-template-columns: 1fr;
		gap: 24px;
		margin-bottom: 24px;
    }

    .main__hero_one{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .main__hero-img_blog1{
        width: 728px;
        
    }

    .maint__hero-card{
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .main__hero_one-two-three__elements{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        max-width: 352px;
    }

    .main__hero_one_blog2, .main__hero_one_blog3, .img__block2-3{
        min-width: 352px;
    }

    .footer_inner{
        max-width: 768px;
        padding: 20px;
	
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-column-gap: 31px;
		grid-row-gap: 26px;
    }

    .footer__poragraf{
        max-width: 450px;
    }

    .logo__footer{
        margin: 0;
        padding: 0;
    }

    .social__network{
        /* margin-top: 40px; */
        margin-bottom: 26px;

    }

    .tag{
        display: none;
    }

    .tag-2{
        display: none;
    }

    .tag-3{
        display: none;
    }
}




/* iPhone 11 Pro Max - 2 */
@media screen and (max-device-width: 414px)  {
    .container, .main_linner{
        max-width: 414px;
        padding: 0 20px;
    }

    .categories__articles{
        overflow-x: auto;
		flex-wrap: nowrap;
    }

    .main__hero_one{
        height: 462px;
    }

    .main__hero-img_blog1{
        width: 374px;
    }
}