@import url('https://fonts.googleapis.com/css2?family=Alef&family=Alegreya&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    font-family: Montserrat;
    border: none;
}

body{
    padding: 0;
    margin: 0;
   
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 76px 1fr 428px 302px;
    grid-template-areas: "header header header"
                         "main main aside"
                         "section section section"
                         "footer footer footer";
}

/* heeeeeeader */
header{
    background-color:  #FFF;
    box-shadow: 0px -2px 0px 0px #EFF2F2 inset;
    grid-area: header;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.menu__list{
    display: flex;
    gap: 30px;
}

.menu__list-link{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;

}


.btn{
    padding: 14px 20px;
    /* gap: 10px; */
    border-radius: 4px;
    background: #E3F5F5;
    border: none;
    cursor: pointer;
    color: #03B2A5;
    text-align: center;

    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.menu__img{
    display: none;
}

.menu__list-link_img{
    position: relative;
    margin-right: 30px;
}

.menu__list-link_img::after{
    content: '';
    position: absolute;
    background-image: url(/Skillfactory/img/icons/Frame.svg);
    width: 14px;
    height: 14px;
    top: 3px;
}

/* main block */

.main{
    grid-area: main;
    width: 930px;

}

.table_of_contenrs{
    display: flex;
    justify-content: start;
    align-self: start;
    margin-top: 16px;
    margin-bottom: 54px;   
    gap: 9px;
    position: relative;
}

.after__header,.main__header, .after__header-one{
    align-self: center;
}

.after__header_two, .after__header-three{
    display: none;
}

.main_linner-img{
    width: 16px;
    height: 16px;
}

.main__text{
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-bottom: 24px;
}

.content__header{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
}

.content__list{
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    margin-bottom: 24px;
}

.contetn__list-element, .aside__block_two-etems{
    display: flex;
}

.main_indicator-green-circle{
    width: 24px;
    height: 24px;
}

.contetn__list_element_dop-one{
    margin-left: 56px;
}

.contetn__list_element_dop-two{
    margin-left: 72px;
}

.contetn__list_element_dop-three{
    margin-left: 88px;
}

.content__header-h3{
    margin-bottom: 16px;
}

.contetn__two-block_one-text{
    margin-bottom: 17px;
}

.content__two_mini-block_one{
    margin-top: 40px;
}

.content__two-block_one, .content__two-block_three-text_two,.content__two-block_text, .content__three-text, .content__four-block-text{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.content__two_mini-block_one{
    display: flex;
    width: 690px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    border-radius: 16px;
    background:  #F3F7FE;

    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.content__two_bold-text{
    font-style: normal;
    font-weight: 700;
}

.content__two-block_two-text_one{
    display: flex;
}

.content__two-block_two{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__two-block_two-img_people{
    margin-bottom: 8px;
}

.content__two-block_three-text_one{
    color: #868686;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.content__two-block_three{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.content__two-block_two-background{
    position: absolute;
    padding: 4px 115.5px 30px 200px ;
}

.content__two-block_two-text{
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}

.content__two-block_two-container{
    padding: 24px 104px 48px 102px ;  
}

.content__three_block-one{
    display: flex;
    gap: 24px;
}

.content__two_mini-block_two, .content__two_mini-block__three, .content__two_mini-block__four{
    display: flex;
    width: 690px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    border-radius: 16px;
    background: #FEFAEC;
}

.content__two_mini-block__three{
    background: #FFF3EB;
}
.content__four-block{
    display: flex;
    gap: 24px;
}

.content__four-block-one, .content__four-block-two{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__two_mini-block__four{
    background: rgba(3, 178, 165, 0.10);
}

.menu__finisf-list{
    display: flex;
    margin-top: 20px;
    gap: 8px;
    flex-wrap: wrap;
}

.menu__finisf-link{
    color: #2963A3;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.menu__finisf-main{
    padding-bottom: 48px;
}

.before__footer-btn{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: #16C8BB;
    color: #FFF;
}

.section{
    grid-area: section;
}

.before__footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.before__footer-block{
    max-width: 348px;
    max-height: 280px;
}

.before__foote-head_and_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.aside{
    grid-area: aside;
}

.linear__aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.aside__block-one{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 282px;
    height: 512px;
    border-radius: 16px;
    background:#E6F0FD;
    margin-top: 88px;
    display: flex;
}

.aside__block-img-group{
    position: relative;
    
}

.aside__block-img_one{
    position: absolute;
    top: 60px;
    left: 30px;
}
.aside__block-img_two{
    position: absolute;
    top: 24px;
    left: 50px;
    padding: 0 12.5px;

}

.aside__block-img_three{
    position: absolute;
    left: 15px;
    top: 30px;
}

.aside__card_one-header{
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.aside__block-text{
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.aside-btn{
    color: #FFF;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 4px;
    background: #35B3A9;

}



.aside__block-info{
    margin-top: 235px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.aside__block-two{
    display: flex;
    width: 282px;
    height: 481px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background:#ffffff;
    position: relative;
}

.upper__block-one, .upper__block-two {
    top: 16px;
    left: 16px;
    position: absolute;
}
.upper__block-two{
    margin-top: 25px;
}

.upper__block-one, .upper__block-two{
    display: flex;
    padding: 0px 6px;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
}

.aside__block-two{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.aside__block-two_part_one, .aside__block-two_part_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.aside__block_two-text_one{
    display: flex;
    gap: 8px;
}

.aside__block_two-img{
    border-radius: 50%;
}

.aside__block_two_text-opacity{
    color: #A2A7B1;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.aside__block_two-header, .aside__block_two_text-header{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

.aside__block_two-header{
    font-size: 16px;
}

.aside__block_three{
    width: 282px;
    height: 292px;
    background: #2963A3;
    border-radius: 16px 16px 16px 16px;
}

.aside__block_three-text_and_background, .aside__block_three-gifts_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 55px;
}

.aside__block_three-img, .aside__block_three-gifts{
    position: absolute;
    border-radius: 0px 0px 16px 16px;
}

.aside__block_three-gifts{
    top: 15px;
}

.one{
    top: 17px;
    right: 50px;
}

.two{
    top: 80px;
    right: 0;
}

.three{
    top: 45px;
    left: 0;
}

.aside__block_three-text{
    color: #FFF;
    text-align: center;
    width: 234px;

    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.aside__block_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 282px;
    height: 304px;
    position: relative;

    border: 1px solid gray;
    border-radius: 24px;
    background: #FFF;

}

.aside__block_four-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.aside__block_four-headr{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: #2963A3;
}

.aside__block_four-heder-h4, .aside__block_four-heder-h3, .aside__block_four-text{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.aside__block_four-heder-h3{
    font-size: 24px;
    line-height: 32px;
}

.aside__block_four-text{

    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.aside__block_four-price{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.aside__block_four-btn{
    display: flex;
    width: 108px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 4px;
    background: #35B3A9;
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}



.aside__block_four-img{
    position: absolute;
    bottom: 0px;
    right: 0;
}

.aside__block-circle{
    position: absolute;
    right: 15px;
    margin-top: 3100px;
}

.before__footer-img{
    padding-left: 100px;
    margin: 0;
}

.before__footer-img_two{
    position: absolute;
    right: 0px;
}

/* footer */

.footer{
    background-color: #2963A3;
    grid-area: footer;
    padding: 40px 24px 0 38px;
   
}

.footer__main-elemet{
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;
}


.nav_footer{
    display: flex;
    gap: 93px;
}

.footer__list-one, .footer__list-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding:0;
    margin:0
}

.footer__list-link{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.footer__heading-elemet{
    max-width: 356px;
    max-height: 52px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px
}

.footer__input{
    width: 384px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
    position: absolute;
}

.footer__btn{
    display: inline-flex;
    height: 48px;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #16C8BB;
    border: none;
    position: relative;
    right: -319px;
    cursor: pointer;
}

.footer__poragraf{
    max-width: 486px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    line-height: 18px; 
    letter-spacing: 0.25px;
    opacity: 0.7;
    margin-top: 10px;
}

.social__network{
    display: flex;
    flex-direction: column;
    max-height: 122px;
}

.sociak__network-ul{
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    margin-top: 40px;
}

.social__network-items{
    width: 32px;
    height: 32px;
    border-radius: 60px;
    background: #EFF5FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icons{
    width: 20px;
    height: 12px;
}

.social__icons-dzen{
    width: 32px;
    height: 32px;
}


.info_foter-text{
    display: flex;
    gap: 48px;
    /* border-top: 1px solid #9D9D9D; */

}

.footer__info-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: .7;
}

.footer__info{
    background-color: #2963A3;
    margin-top: 4px;
    display: flex;
    justify-content: start;
    align-self: start;
    align-self: center;
    border-top: 1px solid gray;
    padding: 0;

}